header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 1;
}

span {
  display: flex;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    padding: 0 20px;
  }

  a:hover {
    color: black;
  }
}

span:hover {
  background-color: #cccccc;
}

input {
  position: absolute;
  top: 3px;
  height: 80%;
  width: 16.4%;
  right: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}




