<h1>{{title}}</h1>
<div class="container">

  <p>The purpose of this SPA is to display data and present it by grouping it.</p>

  <br>

  <p>The site contains information aggregated on the following levels:</p>
  <p>— World</p>
  <p>— Continents</p>
  <p>— Country</p>

  <br>

  <p>
    The numbers presented here are provided only for exploratory and research purposes. <br>
    The accuracy is based on the
    <a href="https://rapidapi.com/api-sports/api/covid-193/">source data.</a>
    Note that different countries use different <br>
    methods for counting the number of COVID-19 cases.
  </p>

  <br>

  <p>Look at the source code:
    <a href="https://github.com/red51143/covid-statistic.git">GitHub</a>
  </p>

  <br>

  <p>
    Created by Alexander Sevastyanuk. Telegram:
    <a href="https://t.me/AlexandrSevas">@AlexandrSevas.</a>
    Contact by
    <a href="mailto:red52@bk.ru">e-mail.</a>
  </p>

</div>
